<div>
    <div >
        <form [formGroup]="userForm" *ngIf ="!newUser"  min-width="150px" max-width="800px" width="100%">
  
          <mat-form-field>
            <input matInput placeholder="Email" class="login-comp"
              type="email" formControlName="email" required>
          </mat-form-field>

          <br />
  
          <mat-form-field>
            <input matInput type="password" placeholder="Password"
            class="login-comp"
             formControlName="password" required >
          </mat-form-field>
          
          <br />

          <button mat-stroked-button color="primary" class="button" (click)="login()"  [disabled]="!userForm.valid"
          >login!</button>
  
          
          <button mat-stroked-button color="primary" float="left" (click)="auth.googleLogin()" class="button">
            <i class="fa fa-google"></i> Connect Google
          </button>
  
          <div display='block' *ngIf="formErrors.password">
            {{ formErrors.password }}
          </div>
          <div *ngIf="formErrors.email">
           {{ formErrors.email }}
         </div>
  
          <br />

          <a (click)="toggleForm()"><u>Sign Up!</u></a>
  
        </form>

        <form  [formGroup]="signupForm" *ngIf="newUser">
          <mat-form-field>
            <input matInput placeholder="Username" class="login-comp"
              type="username" formControlName="displayName" required>
          </mat-form-field>
          <br />

          <mat-form-field>
            <input matInput placeholder="PhotoUrl" class="login-comp"
              type="photoURL" formControlName="photoURL">
          </mat-form-field>
          <br />

          <mat-form-field>
            <input matInput placeholder="Email" class="login-comp"
                type="email" formControlName="email" required>
          </mat-form-field>
          <br />

          <mat-form-field>
            <input matInput type="password" placeholder="Password"
            class="login-comp"
             formControlName="password" required >
          </mat-form-field>
  
          <br />
  
          <div display='block' *ngIf="formErrors.password">
            {{ formErrors.password }}
          </div>
          <div display='block' *ngIf="formErrors.email">
           {{ formErrors.email }}
         </div>
         <button mat-stroked-button color="primary" class="button" (click)="signup()"
         >Sign Up!</button>
  
         <button mat-stroked-button color="primary" float="left" (click)="auth.googleLogin()" class="button">
           <i class="fa fa-google"></i> Connect Google
         </button>
         <br />

          <a (click)="toggleForm()"><u>Already Regitered!</u></a>
        </form>
    </div>
  </div>