.card {
    max-width: 400px;
    margin-bottom: 10px;
    background-color: rgba(205, 205, 205, 0.45);
  }
  
  .header {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }